<a href="https://colab.research.google.com/github/Marek7667/Obliczenia_Naukowe/blob/main/zadanka%20z%20dzisiaj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**pętelki w wężu**

In [6]:
x=int(input('podaj liczbe: '))

if x>0:
  print(x+1)
elif x<0:
  print(x-1)
else:
  print(x)

podaj liczbe: -3
-4

In [ ]:
for i in range(0,101,2):
  print(i)
#parzyste liczby od 0 do 100

In [ ]:
i=0
while True:
  i=i+1
  print(i)
  if i==6: 
    break

In [17]:
def dodawanie(x):
  return x+5
dodawanie(8)

13

In [23]:
def potega(x,y=2):
  return x**y
potega(3,3)

27

In [44]:
lista1=['banan','truskawka',18,783245]
type(lista1[1])
lista1[0]='ananas'
lista1.sort(key=)

NameError: ignored

In [ ]:

a=list(range(50))


a.sort(reverse=True)
a

##Wygeneruj liczby niedodatnie z przedzialu [-15,10] podzielne przez 3 i malejąco

In [75]:
a=list(range(-15,1,3))
type(a)
print([0,-3,-6,-9,-12,-15])

[0, -3, -6, -9, -12, -15]

##lista kwadratów elementów z listy
##lista x/x-2
##podzielne przez 3

In [92]:
L=[1,3,5,7,8,10]
a=[]
b=[]
c=[]
for i in L:
  a.append(i**2)
for i in L:
  b.append(i/(i-2))
for i in L:
  if i%3==0:
    c.append(i)
#najszybciej
a=[n**2 for n in L]
b=[i/(i-2) for i in L]
c=filter(lambda z: z%3==0 ,L)
type(c) # jest typu filter
print(list(c))

[3]

In [102]:
s={'pies','banan',3}
s.remove('pies')
s.add('kot')
s2={1,23,4,5,3}

a=s.intersection(s2)
b=s.update(s2)
print(b)
print(s)

None
{1, 3, 4, 5, 'kot', 'banan', 23}